<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon> 
    </button>
    <ion-title>
      Distanza dal genio
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <div>
      <h1>Distanza dal Genio</h1>
      <p *ngIf=partenza>Il tuo indirizzo è {{partenza.indirizzo}}</p>
      <p *ngIf=arrivo>L'indirizzo del genio è {{arrivo.indirizzo}}</p>
      <p> Disti da casa del Genio {{distanzaMiglia}} ci puoi arrivare in {{tempo}}</p>
    </div>
    <div id="map_canvas"></div>
</ion-content>